<a href="https://colab.research.google.com/github/ThistleAna/learn-Python/blob/main/Python_Cleaning_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Cleaning data**

**Excercise 1**
Eliminiating characters in a list of year

In [1]:
# Cleaning date in a list

test_data = ["1912", "1929", "1913-1923",
             "(1951)", "1994", "1934",
             "c. 1915", "1995", "c. 1912",
             "(1988)", "2002", "1957-1959",
             "c. 1955.", "c. 1970's", 
             "C. 1990-1999"]
# list of bad characters
bad_chars = ["(",")","c","C",".","s","'", " "]

# create function which accepts a str argument
def strip_characters(string):
    for char in bad_chars:
        string = string.replace(char, "")
    return string

# create an empty list
stripped_test_data = []

# iterate over the strings in the test_data
for row in test_data:
    date = strip_characters(row) 
    # clean using above funct
    stripped_test_data.append(date) 
    # append the cleaned str
    
print(stripped_test_data)

['1912', '1929', '1913-1923', '1951', '1994', '1934', '1915', '1995', '1912', '1988', '2002', '1957-1959', '1955', '1970', '1990-1999']

**Excercise 2**

'in' operator is used to check whether a specific key exists in a dictionary. We can use it in a similar way for strings

In [2]:
# finding set of character in a word
if "car" in "carpet":
    print("The substring was found.")
else:
    print("The substring was not found.")

The substring was found.

In [3]:
if "mike" in "michael":
    print("The substring was found.")
else:
    print("The substring was not found.")

The substring was not found.

We usually need to split a string into two. For this, we'll use the str.split() method. This method is used to split a string into a list of strings. A quick example of how this method works is below

In [5]:
# split the string into two by removing '-'
three_peat = "1991-1993"
print(three_peat.split("-"))

['1991', '1993']

In [7]:
test_data = ["1912", "1929", "1913-1923",
             "(1951)", "1994", "1934",
             "c. 1915", "1995", "c. 1912",
             "(1988)", "2002", "1957-1959",
             "c. 1955.", "c. 1970's", 
             "C. 1990-1999"]

bad_chars = ["(",")","c","C",".","s","'", " "]

def strip_characters(string):
    for char in bad_chars:
        string = string.replace(char,"")
    return string

stripped_test_data = ['1912', '1929', '1913-1923',
                      '1951', '1994', '1934',
                      '1915', '1995', '1912',
                      '1988', '2002', '1957-1959',
                      '1955', '1970', '1990-1999']
# create function
def process_date(date):
        # find the index with '-' character
        if "-" in date:
            new_date = date.split("-")
            # assign to new variables
            date1 = new_date[0]
            date2 = new_date[1]
            #convert to int
            date = (int(date1)+int(date2))/2
            # round to nearest decimal
            date = round(date)
        else:
            # if no '-' then convert to integer
            date = int(date)
        return date

# create an empty list
processed_test_data = []
#loop over it using above function
for row in stripped_test_data:
    date = process_date(row)
    processed_test_data.append(date)

# iterate over moma list
# for row in moma:
    # assign the value from the Date col index 6 to d
   # d = row[6]
    # remove bad characters
  #  d = strip_characters(d)
    # convert the date using function
  #  d = process_date(d)
 #   row[6] = d